/* ===== Valores predeterminados globales ===== */

:root{
  --nav-h: 40px;
  --glass-bg: rgba(255,255,255,0.45);
  --glass-bd: rgba(255,255,255,0.6);
  --page-max: 980px;
}

html, body{
  background: linear-gradient(180deg, #e6f0ff 0%, #f9fbff 40%, #ffffff 100%);
  color: #222;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body{
padding: 0;
margin: 0;

}

/* ===== NAVBAR (efecto glass) ===== */

.navbar {
  align-items: center;
  backdrop-filter: blur(10px) saturate(100%);
  background: var(--glass-bg);
  border-bottom: 1px solid var(--glass-bd);
  box-shadow: 0 2px 12px rgba(156, 153, 153, 0.06);
  display: flex;
  gap: 10px;
  height: var(--nav-h);
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 10000;
}


.navbar .menu{
  display: flex;
  gap: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .menu :hover{
  border-radius: 10px;
  transform: translateY(-1px);
}

.navbar .menu a{
  border-radius: 10px;
  color: #0f1932;
  font-weight: 500;
  padding: 10px 10px;
  text-decoration: none;
  transition: background-color 120ms ease, transform 80ms ease;
}

/* ===== valores de autocentrado para el texto ===== */

.autocenter {
  line-height: 1.6;
  margin: 0 auto;
  padding: 24px 0 80px;
  width: min(100% - 32px, var(--page-max));
}

/* ===== Imagen de fondo y estilos de texto para el "hero" ===== */

.img-bg {
    align-items: center;
    background: center / cover url("./assets/img/3131173.jpg");
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    text-align: center;
    color: #ffffff;
}

/* ===== boton reactivo (fuente: uiverse.io) ===== */

button {
  width: 150px;
  height: 60px;
  border: 3px solid #70d386;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 400;
}

button:hover {
  background: #04342b;
  color: white;
  font-size: 1.0em;
}

/* =====  ===== */
